/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.toast-custom-success {
  background-color: green;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  padding: 16px;
  font-family: Arial, sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 15%;
}

  .toast-custom-success.toast-show {
    opacity: 1;
  }
